input, select{
    border: none;
    color: darkslategray;
    font-weight: bold;
    height: 1.3rem;
    font-size: 0.9rem;
}

body{
    margin: 0;
    padding: 0;
    background-color: #808080;
    /* height: 100vh; */
    /* width: 100vw; */
    overflow: hidden;
    font-family: sans-serif;
}

main{
    width: 50%;
    /* min-height: 30%; */
    height: auto;
    background-color: white;
    margin: 2rem auto;
    padding: 0.4rem 0;
    border-radius: 20px;
    /* overflow: scroll; */
}

h1{
    color: #6f6f6f;
    text-align: center;
    letter-spacing: 1px;
}

form div label{
    color: #6f6f6f;
    font-size: 0.8rem;
    font-weight: bold;
    margin-left: 2px;
}

form > div{
    border-top: 1px solid gray;
}

#description-container{
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
}

::placeholder{
    color: darkgray;
}

#category-date-container{
    display: flex;
}

#category-date-container div{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem 1rem 1rem;
}

#category-date-container div:first-child{
    border-right: 1px solid gray;
}

select{
    color: darkslategray;
    font-weight: bold;
    margin-left: -2px;
}

#button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.3rem 0;
}

#button-container button{
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
    width: 10rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    margin: 0 3px;
    outline: none;
    border: none;
}

#add-task-button{
    background-color: #444444;
}

#add-task-button:hover{
    background-color: #040404;
}

#delete-tasks-button{
    background-color: #ee351e;
}

#delete-tasks-button:hover{
    background-color: red;
}

ul{
    list-style: none;
    /* border: 1px solid black; */
    height: 16rem;
    overflow: scroll;
    padding: 0;
}

ul::-webkit-scrollbar{
    display: none;
}

.task-item:nth-child(even){
    background-color: #f5f5f5;
}

.task-item{
    width: 90%;
    border-top: 2px solid lightgray;
    margin: 0 auto;
    padding: 1rem 0 1rem 10px;
    display: flex;
}

input[type="checkbox"]{
    outline: 2px solid darkslategray;
    height: 13px;
    width: 13px;
    border-radius: 10px;
}

input[type="checkbox"]:checked ~ label{
    text-decoration: line-through;
}

.task-item label{
    color: #6f6f6f;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 0.8rem;   
}

.task-item p{
    margin: 0.5rem 0 0 2.4rem;
    color: darkgray;
    /* margin-left: 2.4rem; */
}

.task-item p span{
    margin-right: 10px;
}

.task-item .category{
    margin: 0 2rem 0 auto;
    /* border: 1px solid black; */
    width: 5.5rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
}

.task-item div:last-child{
    /* border: 1px solid black; */
    margin: 5px 10px 0 0;
}